<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Update Employee</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
                 Back</a>
            </div>
          </div>
        </div>
        <form #employeeForm="ngForm">
          <div class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="FirstName" class="p-t-b-10">Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="FirstName" required maxlength="255"
                  [(ngModel)]="editEmployeeForm.name" name="FirstName" #name="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="LastName" class="p-t-b-10">Job Position<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="LastName" required maxlength="255"
                  [(ngModel)]="editEmployeeForm.job_position" name="LastName" #job_position="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label class="p-t-b-10">Salary<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="number" class="form-control" id="Salary"
                    [(ngModel)]="editEmployeeForm.salary" name="Salary" #salary="ngModel">
                </div>
              </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Status<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <select [(ngModel)]="editEmployeeForm.status" name="Status" id="Status" #status="ngModel">
                    <option value="activo">Activo</option>
                    <option value="false">In Activo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Date Hire<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="date" class="form-control" id="date_hire"
                    [(ngModel)]="editEmployeeForm.date_hire" name="date_hire" #date_hire="ngModel">
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
                <label class="p-t-b-10">Photo<span class="requiredStar">*</span>
                  <input #imageInput
                         type="file"
                         accept="image/*"
                         (change)="ProcessFile(imageInput)">
                </label>
              </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="UpdateEmployee(employeeForm.form.valid)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>