<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>New Employee</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
                 Back</a>
            </div>
          </div>
        </div>
        <form #employeeForm="ngForm">
          <div class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="nameE" required pattern="^[a-zA-Z\s]+$" maxlength="255"
                  [(ngModel)]="addEmployeeForm.name" name="nameE" #nameE="ngModel">
                <div *ngIf="nameE.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!nameE.errors?.required">
                    Name is required
                  </div>
                  <div [hidden]="!nameE.errors?.pattern">
                    Name must be only text
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="job_position" class="p-t-b-10">Job Position<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="job_position" required pattern="^[a-zA-Z\s]+$" maxlength="255"
                  [(ngModel)]="addEmployeeForm.job_position" name="job_position" #job_position="ngModel">
                <div *ngIf="job_position.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!job_position.errors?.required">
                    Job Position is required
                  </div>
                  <div [hidden]="!job_position.errors?.pattern">
                    Job Position must be only text
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="salary" class="p-t-b-10">Salary<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="salary" required
                  [(ngModel)]="addEmployeeForm.salary" name="salary" #salary="ngModel">
                <div *ngIf="salary.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!salary.errors?.required">
                    Salary is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Status<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <select [(ngModel)]="addEmployeeForm.status" name="status" #status="ngModel" required>
                  <option value="activo">Activo</option>
                  <option value="false">In Activo</option>
                </select>
                <div *ngIf="status.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!status.errors?.required">
                    Status is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Date of Hire<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="date_hire" required
                  [(ngModel)]="addEmployeeForm.date_hire" name="date_hire" #date_hire="ngModel">
                <div *ngIf="date_hire.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!date_hire.errors?.required">
                    Date Hire is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <label class="image-upload-container btn btn-bwm">
                <span>Photo</span>
                <input  #image #photo="ngModel" id="photo" name="photo" required
                       type="file"
                       accept="image/*"
                       [(ngModel)]="addEmployeeForm.photo"
                       (change)="ProcessFile(image)">
              </label>
              <div *ngIf="photo.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!photo.errors?.required">
                  Photo is required
                </div>
              </div>
            </div>
          </div>
        </form>
        <h2>Beneficiary</h2>
        <form #benifiaryForm="ngForm">
          <div class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" required pattern="^[a-zA-Z\s]+$" maxlength="255"
                  [(ngModel)]="addBenifiaryForm.name" name="name" #name="ngModel">
                <div *ngIf="name.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!name.errors?.required">
                    Name is required
                  </div>
                  <div [hidden]="!name.errors?.pattern">
                    Name must be only letters
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="relationship" class="p-t-b-10">Relationship<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="relationship" required pattern="^[a-zA-Z\s]+$" maxlength="255"
                  [(ngModel)]="addBenifiaryForm.relationship" name="relationship" #relationship="ngModel">
              <div *ngIf="relationship.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!relationship.errors?.required">
                    Name is required
                  </div>
                  <div [hidden]="!relationship.errors?.pattern">
                    Relationship must be only letters
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Gender<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <select [(ngModel)]="addBenifiaryForm.gender" name="gender" #Gender="ngModel">
                  <option value="Mujer">Mujer</option>
                  <option value="Hombre">Hombre</option>
                  <option value="No Binario">No Binario</option>
                </select>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Born<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="date_born" required
                  [(ngModel)]="addBenifiaryForm.date_born" name="date_born" #date_born="ngModel">
                <div *ngIf="date_born.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!date_born.errors?.required">
                    Born Date is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="AddEmployee(employeeForm.form.valid)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>